@import "./../scss/base";
@import "./../scss/header";
//@import "./../scss/categoryHeader";
@import "./../scss/slider";
@import "./../scss/featuredProducts";
@import "./../scss/mainSection";
@import "./../scss/headSection";
@import "./../scss/doubleContent";
