.featuredProducts {
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74' height='74' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  padding: 0 5rem;
  &__heading {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fff;
    font-size: 2rem;
    text-shadow: 5px 5px 10px black;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  &--list {
    list-style: none;
    padding-left: 0;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &--listItem--img {
    width: 70%;
    clip-path: circle(50% at 50% 50%);
    transition: all 0.5s;
    margin: 0 auto;
    animation: upDown infinite 3s;
  }
  &--listItem--img:hover {
    clip-path: circle(100%);
  }
  &--listItem {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  &--listItem--itemName {
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 2rem;
    text-decoration: none;
  }
  &--listItem--btn {
    background-color: #6735ff;
    outline: none;
    border: none;
    width: 65%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px #4b00bb;
  }

  &--listItem--btn:hover {
    background-color: #4b00bb;
    outline: 0px solid #6700ff;
  }

  &--listItem--btn:hover + &--listItem--logo {
    filter: invert(10%) sepia(48%) saturate(7440%) hue-rotate(262deg)
      brightness(140%) contrast(149%);
  }

  &--listItem--logo {
    width: 40%;
    padding: 0.5rem;
    filter: invert(89%) sepia(85%) saturate(5276%) hue-rotate(84deg)
      brightness(103%) contrast(93%);
  }
}

@media (max-width: 1170px) {
  .featuredProducts {
    &--list {
      grid-template-columns: repeat(2, 1fr);
    }
    &--listItem {
      margin-bottom: 5rem;
    }
    &--listItem--btn {
      width: 65%;
      padding: 0.2rem;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 10px #4b00bb;
    }
  }
}
@media (max-width: 700px) {
  .featuredProducts {
    &--list {
      grid-template-columns: 1fr;
    }
    &--listItem {
      margin-bottom: 5rem;
    }
    &--listItem--img {
      width: 100%;
    }
    &--listItem--btn {
      width: 100%;
      padding: 0.2rem;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 10px #4b00bb;
    }
    &--listItem--itemName {
      font-size: 1rem;
    }
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}
