.featuredProducts {
  background-color: #c03a4a;
  //#DC8127
  padding: 7rem 5rem;
  position: relative;
  &__heading {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fff;
    font-size: 2rem;
    text-shadow: 5px 5px 10px black;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  &--list {
    list-style: none;
    padding-left: 0;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &--listItem--img {
    width: 70%;
    clip-path: circle(50% at 50% 50%);
    transition: all 0.5s;
    margin: 0 auto;
    animation: upDown infinite 3s;
  }
  &--listItem--img:hover {
    clip-path: circle(100%);
  }
  &--listItem {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  &--listItem--itemName {
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 2rem;
    text-decoration: none;
  }
  &--listItem--btn {
    background-color: #6735ff;
    position: relative;
    outline: none;
    border: none;
    width: 65%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px #4b00bb;
    height: 3rem;
  }

  &--listItem--btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url("../images/featuredProducts/shopierLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  &--listItem--btn:hover {
    background-color: #4b00bb;
    outline: 0px solid #6700ff;
  }

  &--listItem--btn:hover + &--listItem--logo {
    filter: invert(10%) sepia(48%) saturate(7440%) hue-rotate(262deg) brightness(140%) contrast(149%);
  }

  &--listItem--link {
    width: 100%;
  }
}
.wave2 {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: -10%;
  left: 0%;
  fill: #ffbb32;
}
.wave3 {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: -35%;
  left: 0%;
  fill: #c03a4a;
}
@media (max-width: 1170px) {
  .featuredProducts {
    &--list {
      grid-template-columns: repeat(2, 1fr);
    }
    &--listItem {
      margin-bottom: 5rem;
    }
    &--listItem--btn {
      width: 65%;
      padding: 0.2rem;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 10px #4b00bb;
    }
  }
  .wave2 {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: -0%;
    left: 0%;
  }
  .wave3 {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -12%;
    left: 0%;
  }
}
@media (max-width: 700px) {
  .featuredProducts {
    &--list {
      grid-template-columns: 1fr;
    }
    &--listItem {
      margin-bottom: 5rem;
    }
    &--listItem--img {
      width: 100%;
    }
    &--listItem--btn {
      width: 100%;
      padding: 0.2rem;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 10px #4b00bb;
    }
    &--listItem--itemName {
      font-size: 1rem;
    }
  }
  .wave3 {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -4%;
    left: 0%;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}
