.mainSection {
  display: grid;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: -5rem;
  padding: 1rem 5rem;
  & img {
    width: 60%;
  }
  &__img1 {
    grid-column: 0 / 1;
    grid-row: 0 / 1;
    border-radius: 50%;
  }
  &__img2 {
    grid-column: 4 / 5;
    grid-row: 0 / 1;
  }
  &__img3 {
    grid-column: 0 / 1;
    grid-row: 3 / 4;
  }
  &__img4 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    border: 2px solid #000;
    border-radius: 50%;
  }
  &__img5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 2px solid #000;
    border-radius: 50%;
  }
  &__img6 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: #ccc;
    border: 2px solid #000;
    border-radius: 50%;
    width: 60% !important;
  }
  &__img7 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    width: 30% !important;
  }
  &__img8 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    width: 30% !important;
  }
  &__title {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1170px) {
  .mainSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    & img {
      width: 50%;
    }
    &__img1 {
      grid-column: 0 / 1;
      grid-row: 0 / 1;
    }
    &__img2 {
      grid-column: 2 / 3;
      grid-row: 0 / 1;
    }
    &__img3 {
      grid-column: 0 / 1;
      grid-row: 3 / 4;
    }
    &__img4 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &__title {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 100%;
    }
    &__title {
      font-size: 2rem;
    }
    &__img5,
    &__img6,
    &__img7,
    &__img8 {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .mainSection {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem 3rem;
    & img {
      width: 70%;
    }
    &__img1 {
      grid-column: 0 / 1;
      grid-row: 0 / 1;
    }
    &__img2 {
      grid-column: 2 / 3;
      grid-row: 0 / 1;
    }
    &__img3 {
      grid-column: 0 / 1;
      grid-row: 3 / 4;
    }
    &__img4 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &__title {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 100%;
    }
    &__title {
      font-size: 2rem;
    }
  }
}
@media (max-width: 600px) {
  .mainSection {
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem 3rem;
    & img {
      width: 70%;
    }
    &__img1 {
      grid-column: 0 / 1;
      grid-row: 0 / 1;
    }
    &__img2 {
      grid-column: 2 / 3;
      grid-row: 0 / 1;
    }
    &__img3 {
      grid-column: 0 / 1;
      grid-row: 3 / 4;
    }
    &__img4 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &__title {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 100%;
    }
    &__title {
      font-size: 2rem;
    }
  }
}
